app = "paty-stage-bot"
primary_region = "ord"

[build]
  dockerfile = "Dockerfile.bot"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "requests"
    hard_limit = 2
    soft_limit = 1

[[vm]]
  size = "shared-cpu-2x"
  memory = "2gb"
