html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#terminal {
  width: 100vw;
  height: 100vh;
  padding: 6px;
  box-sizing: border-box;
}

.xterm,
.xterm-viewport,
.xterm-screen {
  width: 100% !important;
  height: 100% !important;
}
